@import "tailwindcss";

@theme {
  --color-surface: #fbf9f5;
  --color-surface-dim: #dbdad6;
  --color-surface-bright: #fbf9f5;
  --color-surface-container: #efeeea;
  --color-surface-container-low: #f5f3ef;
  --color-surface-container-high: #eae8e4;
  --color-surface-container-highest: #e4e2de;
  --color-on-surface: #1b1c1a;
  --color-on-surface-variant: #404845;
  --color-outline: #717975;
  --color-outline-variant: #c0c8c4;
  --color-primary: #386458;
  --color-on-primary: #ffffff;
  --color-primary-container: #507d70;
  --color-on-primary-container: #f4fffa;
  --color-secondary: #356668;
  --color-on-secondary: #ffffff;
  --color-secondary-container: #b9ecee;
  --color-tertiary: #735802;
  --color-on-tertiary: #ffffff;
  --color-tertiary-container: #ffdf96;
  --color-error: #ba1a1a;
  --color-on-error: #ffffff;
  --color-error-container: #ffdad6;

  --font-sans: "Plus Jakarta Sans", system-ui, sans-serif;

  --shadow-card: 0px 10px 30px rgba(94, 139, 126, 0.08);
}

@layer base {
  body {
    font-family: var(--font-sans);
    background-color: var(--color-surface);
    color: var(--color-on-surface);
  }
}
